<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added</title>
    <%- include('../partials/linkcss') %>
    
</head>
<body>
    <header>
        
        <h2 style="size: 20px; color: red;" >Registered successfully</h2>
    </header>
    <main>
        <br>
        <a href="/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Go to Home </a>
    </main>
</body>
</html>